<h2><%= @word.name.capitalize %></h2>
Definition: <%= @word.definition %>
<ul>

<% @word.mnemonics.each do |mnemonic| %>

  <%= render '/mnemonics/mnemonic', :word => @word, :mnemonic => mnemonic %>

<% end %>

</ul>
<%= render '/mnemonics/form' %>

<%= link_to 'Back', words_path %>