<div class="header offset1">
  <ul class="inline">
    <li><h1><%= @word.name.capitalize %></h1></li>
    <li><h3><%= @word.definition %></h3></li>
  <ul>
</div>

<%= render '/mnemonics/index' %>

<div class="offset1">
  <%= render '/mnemonics/form' %>
  <%= link_to 'Back', words_path %>
</div>