<h2><%= @word.name.capitalize %></h2>
Definition: <%= @word.definition %>
<ul>
<% @word.mnemonics.each do |mnemonic| %>

	<li><%= mnemonic.text %></li>

<% end %>
</ul>
<%= render '/mnemonics/new' %>

<%= link_to 'Back', words_path %>