<!DOCTYPE html>
<html>
<head>
  <title>Vocabulary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<%= current_user.username %>
	<%= link_to 'Logout', log_out_path %>
	<%= link_to 'All words and mnemonics', words_path %>
	<%= link_to 'My words and mnemonics', user_path(current_user) %>
<% else %>
	<%= link_to 'Login', sessions_path %>
<% end %><br />
<%= yield %>

</body>
</html>
