<!DOCTYPE html>
<html>
<head>
  <title>Vocabulary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
  <ul class="nav">
    <li class="brand">Amnesia</li>
    <li><%= link_to 'All words and mnemonics', words_path %></li>
    <% if current_user %>
      <li><%= link_to 'My words and mnemonics', user_path(current_user) %></li>
      <li><%= link_to 'Logout', log_out_path %></li>
    <% else %>
      <li><%= link_to 'Login', sessions_path %></li>
    <% end %>
    <br />
  </ul>
</div>
</div>
<%= yield %>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
